
## <summary>policy for securypto</summary>


########################################
## <summary>
##	Transition to securypto.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`securypto_domtrans',`
	gen_require(`
		type securypto_t, securypto_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, securypto_exec_t, securypto_t)
')


########################################
## <summary>
##	Execute securypto server in the securypto domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`securypto_initrc_domtrans',`
	gen_require(`
		type securypto_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, securypto_initrc_exec_t)
')


########################################
## <summary>
##	Search securypto lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`securypto_search_lib',`
	gen_require(`
		type securypto_var_lib_t;
	')

	allow $1 securypto_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read securypto lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`securypto_read_lib_files',`
	gen_require(`
		type securypto_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, securypto_var_lib_t, securypto_var_lib_t)
')

########################################
## <summary>
##	Manage securypto lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`securypto_manage_lib_files',`
	gen_require(`
		type securypto_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, securypto_var_lib_t, securypto_var_lib_t)
')

########################################
## <summary>
##	Manage securypto lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`securypto_manage_lib_dirs',`
	gen_require(`
		type securypto_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, securypto_var_lib_t, securypto_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a securypto environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`securypto_admin',`
	gen_require(`
		type securypto_t;
		type securypto_initrc_exec_t;
		type securypto_var_lib_t;
	')

	allow $1 securypto_t:process { ptrace signal_perms };
	ps_process_pattern($1, securypto_t)

	securypto_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 securypto_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, securypto_var_lib_t)

')

